@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Poppins", sans-serif;
        font-weight: normal;
    }
}

@layer utilities {
    .btn {
        @apply px-6 py-3 rounded-[40px] font-semibold md:text-[30px] inline-block;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.30);
    }
    .space-bottom-8 > :not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(2rem * var(--tw-space-y-reverse));
        margin-bottom: calc(2rem *  calc(1 - var(--tw-space-y-reverse)));
    }
    /* Navbar fixed */
    .navbar-fixed {
        @apply fixed md:relative top-0 left-0 right-0 z-[999];
        transition: 0.5s ease;
    }
    .navbar-fixed.active {
        @apply fixed md:h-[70px] md:rounded-xl;
    }

    /* Animation */
    .fade-to-left {
        position: relative;
        transform: translateX(150px);
        opacity: 0;
        transition: 1.5s all ease;
    }
    .fade-to-right {
        position: relative;
        transform: translateX(-150px);
        opacity: 0;
        transition: 1.5s all ease;
    }
    .fade-to-top {
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: 1.5s all ease;
    }
    .fade-to-bottom {
        position: relative;
        transform: translateY(-150px);
        opacity: 0;
        transition: 1.5s all ease;
    }
    .fade-to-left.active, .fade-to-right.active {
        transform: translateX(0);
        opacity: 1;
    }
    .fade-to-top.active, .fade-to-bottom.active {
        transform: translateY(0);
        opacity: 1;
    }
}
